:root{
    --color-primary: #B8F2E6;
    --color-primary-dark: #74bac5;
    --color-secondary: #E9BCB7;
    --color-secondary-dark: #FF6B6B;
    --color-gray-light: #f1f1f1;
    --color-gray: #ccc;
    --color-gray-dark: #333;   
}